extends layout

block content
	.container-fluid
		.row-fluid
			.span12


				div
					form( method="post")#addstore-form.form-horizontal.well.span12
						h1
						p#sub1.subheading 新增店家
						hr
						fieldset
							.control-group
								label.control-label(for='name-tf') 店家名稱
								.controls
									input.input-xlarge(type='text', name='name')
							.control-group
								label.control-label(for='email-tf') 地址
								.controls
									input.input-xlarge(type='text', name='address')
							.control-group
								label.control-label(for='email-tf') 電話
								.controls
									input.input-xlarge(type='text', name='tel')
							.control-group
								label.control-label(for='email-tf') 敘述
								.controls
									input.input-xlarge(type='text', name='description')

							hr
							p#sub2.subheading
							#user-cg.control-group
								label.control-label(for='user-tf') latitude
								.controls
									input#user-tf.input-xlarge.disabled(type='text', name='latitude',readonly)
							#pass-cg.control-group
								label.control-label(for='pass-tf') longitude
								.controls
									input#pass-tf.input-xlarge(type='text', name='longitude', value='' ,readonly)
							.form-actions
								button(type='button').btn 重設
								button(type='submit').btn 新增店家資訊

block footer